@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
 padding: 0;
 margin: 0;
 border: 0;
 box-sizing: border-box;
}

*, *:before, *:after {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

:focus, :active {
 outline: none;
}

a:focus, a:active {
 outline: none;
}

header, nav, aside, footer {
 display: block;
}

html, body {
 height: 100%;
 width: 100%;
 font-size: 100%;
 line-height: 1;
 font-size: 14px;
 -ms-text-size-adjust: 100%;
 -moz-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
}

input, button, textarea {
 font-family: inherit;
}

input::-ms-clear {
 display: none;
}

button {
 cursor: pointer;
 width: 170px;
 height: 50px;
 border: 2px solid #F05D7B;
 padding: 16px 0;
 font-size: 14px;
 border-radius: 50px;
 margin: 0 10px;
 font-weight: 700;
 transition-duration: 0.2s;
 text-align: center;
 background-color: #F05D7B;
 color: white;
 box-shadow: 0px 12px 12px 2px #f05d7b33;
 margin: 100px 0;
}
button::-moz-focus-inner {
 padding: 0;
 border: 0;
}
button:hover {
 color: #F05D7B;
 background-color: #F2F4F9;
 box-shadow: 0 0 0 #f05d7b33;
}

a, a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

ul-li {
 list-style: none;
}

img {
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
 font-size: inherit;
 font-weight: 400;
}

::-webkit-scrollbar {
 width: 5px;
 height: 3px;
}

::-webkit-scrollbar-button {
 background-color: #666;
 display: none;
}

::-webkit-scrollbar-track {
 background-color: #999;
}

::-webkit-scrollbar-track-piece {
 background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
 height: 50px;
 background-color: #33CFFF;
 border-radius: 10px;
}

::-webkit-scrollbar-corner {
 background-color: #999;
 display: none;
}

::-webkit-resizer {
 background-color: #666;
}

@media screen and (min-width: 501px) {
 body {
  display: flex;
  justify-content: center;
  background-color: #F2F4F9;
  font-family: roboto;
 }

 .page {
  display: flex;
  flex-direction: column;
  width: 1100px;
  min-width: 1100px;
  min-height: auto;
 }

 .meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 750px;
  padding: 0 0 100px 0;
 }
 .meeting_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center;
 }
 .meeting_text_1 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #071E48;
 }
 .meeting_text_1 span {
  color: #F05D7B;
 }
 .meeting_text_2 {
  font-size: 50px;
  font-weight: 700;
  color: #071E48;
  margin: 20px 0;
 }
 .meeting_text_3 {
  font-size: 16px;
  font-weight: 300;
  color: #939BC1;
 }
 .meeting_image {
  width: 300px;
  margin: 0 0 50px 0;
 }
 .meeting_buttons {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
  top: 50px;
 }
 .meeting_buttons_button {
  width: 170px;
  height: 50px;
  border: 2px solid #F05D7B;
  padding: 16px 0;
  font-size: 14px;
  border-radius: 50px;
  margin: 0 10px;
  font-weight: 700;
  transition-duration: 0.2s;
 }
 .meeting_buttons_button_skills {
  background-color: #F05D7B;
  color: white;
  box-shadow: 0px 12px 12px 2px #f05d7b33;
 }
 .meeting_buttons_button_skills:hover {
  color: #F05D7B;
  background-color: #F2F4F9;
  box-shadow: 0 0 0 #f05d7b33;
 }
 .meeting_buttons_button_projects {
  color: #F05D7B;
 }
 .meeting_buttons_button_projects:hover {
  color: white;
  background-color: #F05D7B;
  box-shadow: 0px 12px 12px 2px #f05d7b33;
 }

 .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 800px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
 }
 .skills_box_info {
  font-size: 16px;
  color: #F05D7B;
  letter-spacing: 1px;
 }
 .skills_box_heading {
  font-size: 30px;
  color: #071E48;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0;
 }
 .skills_box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 900px;
  height: 600px;
 }
 .skills_skill {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100px;
  max-height: 120px;
  margin: 20px 0;
 }
 .skills_skill img {
  display: block;
  width: 100px;
  height: 100px;
 }
 .skills_skill_heading {
  text-align: left;
  width: 300px;
  font-size: 22px;
  letter-spacing: 1px;
  color: #071E48;
  font-weight: 500;
  margin: 10px 0 0 0;
 }
 .skills_skill_info {
  text-align: left;
  width: 300px;
  height: auto;
  font-size: 14px;
  color: #939BC1;
  opacity: 0.8;
  line-height: 150%;
  margin: 10px 0 0 0;
 }

 .education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 800px;
  border-radius: 20px;
  text-align: center;
  margin: 100px 0 0 0;
 }
 .education_box_info {
  font-size: 16px;
  color: #F05D7B;
  letter-spacing: 1px;
 }
 .education_box_heading {
  font-size: 30px;
  color: #071E48;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0;
 }
 .education_box {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  width: 800px;
  height: 700px;
  margin: 50px 0 0 0;
 }
 .education .education_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  padding: 0 20px 20px 20px;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  position: relative;
  margin: 0 0 50px 0;
 }
 .education .education_one img {
  display: block;
  width: 350px;
  position: relative;
  right: 20px;
  border-radius: 10px 10px 3px 3px;
 }
 .education .education_one_place {
  font-size: 14px;
  color: #F05D7B;
  font-weight: 500;
  margin: 20px 0 0 0;
 }
 .education .education_one_place_name {
  font-size: 20px;
  line-height: 24px;
  color: #071E48;
  font-weight: 500;
  margin: 10px 0 15px 0;
  height: 48px;
 }
 .education .education_one_subjects {
  font-size: 14px;
  color: #939BC1;
 }
 .education #education_one_2 {
  padding: 0 20px 40px 20px;
 }

 .projects {
  display: flex;
  width: 100%;
  min-height: 450px;
  background-color: white;
  border-radius: 5px;
  margin: 100px 0 0 0;
 }
 .projects_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
 }
 .projects_left_text_1 {
  font-size: 16px;
  color: #F05D7B;
  letter-spacing: 2px;
 }
 .projects_left_text_2 {
  font-size: 30px;
  color: #071E48;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0;
 }
 .projects_left_text_3 {
  width: 170px;
  height: 50px;
  border: 2px solid #F05D7B;
  padding: 16px 0;
  font-size: 14px;
  border-radius: 50px;
  margin: 0 10px;
  font-weight: 700;
  transition-duration: 0.2s;
  text-align: center;
  background-color: #F05D7B;
  color: white;
  box-shadow: 0px 12px 12px 2px #f05d7b33;
 }
 .projects_left_text_3:hover {
  color: #F05D7B;
  background-color: #F2F4F9;
  box-shadow: 0 0 0 #f05d7b33;
 }
 .projects_right {
  display: flex;
  font-display: column;
  justify-content: flex-start;
  align-items: center;
  width: 650px;
  height: 100%;
 }
 .projects_right img {
  display: block;
  width: 620px;
  border-radius: 5px;
  box-shadow: -2px 1px 25px 0 rgba(0, 0, 0, 0.1);
 }

 .personal_qualities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: auto;
  border-radius: 20px;
  margin: 100px 0 0 0;
 }
 .personal_qualities_box_info {
  font-size: 16px;
  color: #F05D7B;
  letter-spacing: 1px;
 }
 .personal_qualities_box_heading {
  font-size: 30px;
  color: #071E48;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px 0;
 }
 .personal_qualities_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 900px;
  height: 300px;
  margin: 20px 0 0 50px;
 }
 .personal_qualities_box .quality {
  display: flex;
  align-items: center;
  width: 300px;
  height: 70px;
 }
 .personal_qualities_box .quality img {
  display: block;
  height: 25px;
 }
 .personal_qualities_box .quality_text {
  font-size: 24px;
  margin: 0 0 0 20px;
 }

 .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  font-size: 20px;
  margin: 50px 0 0 0;
 }
 .contact a {
  width: 170px;
  height: 50px;
  border: 2px solid #F05D7B;
  padding: 16px 0;
  font-size: 14px;
  border-radius: 50px;
  margin: 0 10px;
  font-weight: 700;
  transition-duration: 0.2s;
  text-align: center;
  background-color: #F05D7B;
  color: white;
  box-shadow: 0px 12px 12px 2px #f05d7b33;
  margin: 100px 0;
 }
 .contact a:hover {
  color: #F05D7B;
  background-color: #F2F4F9;
  box-shadow: 0 0 0 #f05d7b33;
 }
}
@media screen and (max-width: 500px) {
 body {
  background-color: #F2F4F9;
  font-family: roboto;
  width: 200px;
 }

 .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  position: relative;
 }

 .meeting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  min-height: 2500px;
  padding: 0 0 100px 0;
  position: relative;
  left: 400px;
 }
 .meeting_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  text-align: center;
 }
 .meeting_text_1 {
  font-size: 50px;
  letter-spacing: 6px;
  color: #071E48;
 }
 .meeting_text_1 span {
  color: #F05D7B;
 }
 .meeting_text_2 {
  font-size: 140px;
  font-weight: 700;
  color: #071E48;
  margin: 40px 0;
 }
 .meeting_text_3 {
  font-size: 40px;
  font-weight: 300;
  color: #939BC1;
 }
 .meeting_image {
  width: 800px;
  margin: 0 0 100px 0;
 }
 .meeting_buttons {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
  top: 100px;
 }
 .meeting_buttons_button {
  width: 440px;
  height: 130px;
  border: 6px solid #F05D7B;
  padding: 40px 0;
  font-size: 40px;
  border-radius: 100px;
  margin: 0 20px;
  font-weight: 700;
  transition-duration: 0.2s;
 }
 .meeting_buttons_button_skills {
  background-color: #F05D7B;
  color: white;
  box-shadow: 0px 24px 24px 4px #f05d7b33;
 }
 .meeting_buttons_button_skills:hover {
  color: #F05D7B;
  background-color: #F2F4F9;
  box-shadow: 0 0 0 #f05d7b33;
 }
 .meeting_buttons_button_projects {
  color: #F05D7B;
 }
 .meeting_buttons_button_projects:hover {
  color: white;
  background-color: #F05D7B;
  box-shadow: 0px 12px 12px 2px #f05d7b33;
 }

 .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1300px;
  min-height: 3450px;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  position: relative;
  left: 400px;
 }
 .skills_box_info {
  font-size: 42px;
  color: #F05D7B;
  letter-spacing: 2px;
  margin: 50px 0 0 0;
 }
 .skills_box_heading {
  font-size: 90px;
  color: #071E48;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 30px 0 80px 0;
 }
 .skills_box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 2400px;
  margin: 50px 0 0 0;
 }
 .skills_skill {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 200px;
  max-height: 240px;
  margin: 60px 0;
  width: 100%;
 }
 .skills_skill img {
  display: block;
  width: 250px;
  height: 250px;
 }
 .skills_skill_heading {
  text-align: left;
  width: auto;
  font-size: 66px;
  letter-spacing: 2px;
  color: #071E48;
  font-weight: 500;
  margin: 20px 0 0 0;
 }
 .skills_skill_info {
  text-align: left;
  width: 800px;
  height: auto;
  font-size: 40px;
  color: #939BC1;
  opacity: 0.8;
  line-height: 150%;
  margin: 20px 0 0 0;
 }

 .education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1300px;
  min-height: 4000px;
  border-radius: 40px;
  text-align: center;
  margin: 250px 0 0 0;
  position: relative;
  left: 400px;
 }
 .education_box_info {
  font-size: 42px;
  color: #F05D7B;
  letter-spacing: 2px;
 }
 .education_box_heading {
  font-size: 90px;
  color: #071E48;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 40px 0;
 }
 .education_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  min-height: 4000px;
  margin: 100px 0 0 0;
  position: relative;
 }
 .education .education_one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  height: auto;
  padding: 0 40px 40px 40px;
  text-align: left;
  background-color: white;
  border-radius: 20px;
  position: relative;
 }
 .education .education_one img {
  display: block;
  width: 1000px;
  position: relative;
  right: 40px;
  border-radius: 20px 20px 6px 6px;
 }
 .education .education_one_place {
  font-size: 42px;
  color: #F05D7B;
  font-weight: 500;
  margin: 50px 0 0 0;
 }
 .education .education_one_place_name {
  font-size: 60px;
  line-height: 70px;
  color: #071E48;
  font-weight: 500;
  margin: 50px 0 0 0;
 }
 .education .education_one_subjects {
  font-size: 42px;
  color: #939BC1;
  margin: 50px 0 20px 0;
 }

 .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  min-height: 900px;
  background-color: white;
  border-radius: 10px;
  margin: 200px 0 0 0;
  position: relative;
  left: 400px;
 }
 .projects_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
 }
 .projects_left_text_1 {
  font-size: 42px;
  color: #F05D7B;
  letter-spacing: 4px;
 }
 .projects_left_text_2 {
  font-size: 90px;
  color: #071E48;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 60px 0;
 }
 .projects_left_text_3 {
  width: 440px;
  height: 130px;
  border: 6px solid #F05D7B;
  padding: 40px 0;
  font-size: 40px;
  border-radius: 100px;
  margin: 20px 20px 0 20px;
  font-weight: 700;
  transition-duration: 0.2s;
  text-align: center;
  background-color: #F05D7B;
  color: white;
  box-shadow: 0px 24px 24px 4px #f05d7b33;
 }
 .projects_left_text_3:hover {
  color: #F05D7B;
  background-color: #F2F4F9;
  box-shadow: 0 0 0 #f05d7b33;
 }
 .projects_right {
  display: flex;
  font-display: column;
  justify-content: flex-start;
  align-items: center;
  width: 1300px;
  height: 100%;
  display: none;
 }
 .projects_right img {
  display: block;
  width: 1240px;
  border-radius: 10px;
  box-shadow: -4px 2px 50px 0 rgba(0, 0, 0, 0.1);
 }

 .personal_qualities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  height: auto;
  border-radius: 40px;
  margin: 200px 0 0 0;
  position: relative;
  left: 400px;
 }
 .personal_qualities_box_info {
  font-size: 42px;
  color: #F05D7B;
  letter-spacing: 2px;
  margin: 50px 0 0 0;
 }
 .personal_qualities_box_heading {
  font-size: 90px;
  color: #071E48;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 40px 0;
 }
 .personal_qualities_box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  width: 1100px;
  height: auto;
  margin: 50px 0 0 0;
 }
 .personal_qualities_box .quality {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
 }
 .personal_qualities_box .quality img {
  display: block;
  height: 80px;
 }
 .personal_qualities_box .quality_text {
  font-size: 72px;
  margin: 0 0 0 40px;
 }

 .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 600px;
  font-size: 40px;
  position: relative;
  left: 380px;
 }
 .contact a {
  width: 440px;
  height: 130px;
  border: 4px solid #F05D7B;
  padding: 40px 0;
  font-size: 40px;
  border-radius: 100px;
  margin: 0 20px;
  font-weight: 700;
  transition-duration: 0.2s;
  text-align: center;
  background-color: #F05D7B;
  color: white;
  box-shadow: 0px 24px 24px 4px #f05d7b33;
  margin: 200px 0;
 }
 .contact a:hover {
  color: #F05D7B;
  background-color: #F2F4F9;
  box-shadow: 0 0 0 #f05d7b33;
 }
}